<html>
<body>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <div class='header'>
        <h1>Edit the name of the Restaurant: {{ restaurant.name }}</h1>
    </div>

    <div class='content'>
        <form method='POST' action="{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}">
            <p>New Name: <input type='text' name='name' size='35' value='{{ restaurant.name }}'></p>
            <button type ='submit'>Submit</button>
        </form>
    </div>

</body>
</html>