<html>
<body>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <div class='header'>
    <h1>Menu for: {{ restaurant.name }}</h1>
    <a href="/">Go back to Restaurant Index</a></br>
    <a href="{{url_for('addMenuItem', restaurant_id = restaurant.id)}}">Create New Menu Item</a>

    <!--  These loops display a flashed message to confirm user action like edit or delete  -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    </div>
    <div class='content'>
    <!--  This loop creates the list of restaurants  -->
    {% for i in items %}

    <h3>{{ i.name }}</h3>

    {{ i.description }}
    </br>

    {{ i.price }}
     <a href="{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}">Edit Item</a>
     <a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}">Delete Item</a>
    </br>

    {% endfor %}

    </div>
</body>
</html>